.app {
  display: flex;
}

.toast {
  z-index: 10000;
  position: fixed;
  top: 80px !important;
  right: 20px !important;
  left: auto !important;
  padding: 5px 20px;
  height: max-content;
  width: max-content;
  color: white;
}

.error-toast {
  background-color: #c62828;
}

.success-toast {
  background-color: #43a047;
}
